.container {
  width: min(1200px, 100%);
  margin: 2vh auto;
  padding: 0 1.56em;
}

.breadcrumbs span {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: var(--font-size-xsmall);
  font-weight: bold;
  font-family: var(--font-title);

  margin-left: 0.3em;
}

.breadcrumbs span:nth-child(2) {
  text-decoration: none;
}

.pageDetails {
  display: grid;
  column-gap: 2rem;
  row-gap: 1.2rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "five"
    "one"
    "two"
    "three"
    "four";

  padding: 5% 0;
  font-family: var(--font-text);
}

.pageTitle {
  grid-area: one;

  font-size: var(--font-size-xlarge);
  font-family: var(--font-title);
  text-transform: uppercase;
}

.pageDescription {
  grid-area: two;

  font-size: var(--font-size-medium);
  font-family: "Open Sans";
  font-weight: normal;
}

@media screen and (min-width: 700px) {
  .pageDetails {
    grid-template-areas:
      "five one"
      "five two"
      "five three"
      "five four"
      "five .";
  }
}
