.homeLayout {
  width: min(1200px, 100%);
  margin: 0 auto;
}

.pageColumn {
  padding: 10% 1.56em;
}

.pageList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1.5em;
  row-gap: 1.5em;
}
